<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 
	通过namespace将mapper接口引入
-->
<mapper namespace="com.mr.takemerchantprovider.mapper.ProviderMapper">

    <resultMap id="store" type="com.mr.take.domain.Store">
        <id column="sid" javaType="sid"/>
        <result column="saddress" javaType="saddress"/>
        <result column="sphone" javaType="sphone"/>
        <result column="sdishes" javaType="sdishes"/>
        <result column="sdateB" javaType="sdateB"/>
        <result column="sdateE" javaType="sdateE"/>
        <result column="surl" javaType="surl"/>
        <result column="mid" javaType="mid"/>
        <collection property="merchant" javaType="com.mr.take.domain.Merchant">
            <id column="mid" javaType="mid"/>
            <result  column="shopName" javaType="shopName"/>
            <result  column="mdate" javaType="mdate"/>
            <result  column="mcode" javaType="mcode"/>
            <result  column="mname" javaType="mname"/>
            <result  column="mphone" javaType="mphone"/>
            <result  column="murl" javaType="murl"/>
        </collection>
    </resultMap>


    <insert id="saveMerchant" parameterType="com.mr.take.domain.Merchant">
        insert into t_merchant values(#{mid},#{shopName},#{mdate},#{mcode},#{mname},#{mphone},#{murl});
    </insert>

    <!--查询总信息-->
    <select id="queryMerList" resultType="com.mr.take.domain.Merchant">
        select * from t_merchant
    </select>

    <!--根据商家id查询店铺表-->
   <select id="queryStortById" parameterType="int" resultMap="stort">
        select s.* from t_store s LEFT JOIN t_merchant m ON m.mid=s.mid where mid=#{mid}
    </select>

</mapper>