<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 
	通过namespace将mapper接口引入
-->
<mapper namespace="com.mr.takemerchantprovider.mapper.ProviderMapper">

    <insert id="saveMerchant" parameterType="com.mr.take.domain.Merchant">
        insert into t_merchant values(#{mid},#{shopName},#{mdate},#{mcode},#{mname},#{mphone},#{murl});
    </insert>

    <!--查询总条数-->
    <select id="queryCount" resultType="int">
        select count(*) from t_merchant
    </select>

    <!--查询总信息-->
    <select id="queryMerList" resultType="com.mr.take.domain.Merchant">
        select * from t_merchant
    </select>

</mapper>