<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bz.take.history.mapper.THystoryMapper">
  <resultMap id="BaseResultMap" type="com.bz.take.history.entity.THystory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="hid" jdbcType="INTEGER" property="hid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
</mapper>